<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Document</title>
</head>
<%- include('partials/_header') %>
<body>
  <div class=" d-flex justify-content-center" >
  <h1>Sign Up</h1>
</div>
<div class=" d-flex justify-content-center" >
  <form method="POST" action="/register">
    <h6> Email</h6>
    <div class=" d-flex justify-content-center" >
    </div>
    <input type="email"  name="email" placeholder="your@email.com" >
    <h6>Password</h6>
    <div class=" d-flex justify-content-center" >
    <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit"  class="btn btn-outline-success">Create your account</button>
  </form>
</div>

</body>
</html>